<footer class="bg-danger-subtle text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Links -->
      <div class="row">
        <!-- First column -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">NewsApp</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="{{ url_for('page.home') }}" class="text-dark">Home</a>
            </li>
            <li>
              <a href="{{ url_for('page.blog') }}" class="text-dark">Blog</a>
            </li>
            <li>
              <a href="{{ url_for('page.contact') }}" class="text-dark">Contact</a>
            </li>
          </ul>
        </div>
        <!-- End first column -->
  
        <!-- Second column -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Quick Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-dark">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="text-dark">Terms of Service</a>
            </li>
            <li>
              <a href="#" class="text-dark">FAQs</a>
            </li>
          </ul>
        </div>
        <!-- End second column -->
  
        <!-- Third column -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>
  
          <ul class="list-unstyled">
            <li>
              <p class="text-dark mb-0">123 Main St</p>
              <p class="text-dark mb-0">City, State 12345</p>
            </li>
            <li>
              <p class="text-dark mb-0">Email: info@newsapp.com</p>
              <p class="text-dark">Phone: (123) 456-7890</p>
            </li>
          </ul>
        </div>
        <!-- End third column -->
  
        <!-- Fourth column -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Follow Us</h5>
  
          <ul class="list-unstyled d-flex justify-content-center">
            <li>
              <a href="https://github.com/SupriyoMaity1207" class="text-dark me-4">
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://x.com/supriyo_1207" class="text-dark me-4">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/supriyomaity_1207/" class="text-dark me-4">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/supriyomaity/" class="text-dark">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End fourth column -->
      </div>
      <!-- End Links -->
    </div>
    <!-- End Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 bg-danger-subtle" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 NewsApp | All Rights Reserved
    </div>
    <!-- End Copyright -->
  </footer>
  